@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto+Condensed:wght@300&display=swap');
body 
{
  font-family:'Roboto Condensed', sans-serif;
  background: -webkit-linear-gradient(to right, #5da3e9, #1d5fd8); 
  background: linear-gradient(to right, #5da3e9, #1d5fd8); 
  color:whitesmoke;
}


/* Estilos generales */
.navbar{
    height:15vh;
    width:160%;
    margin:auto;
    display:flex;
    align-items:center;

   
}


ul, ol {
    list-style:none;
}

.nav {
    width:800px; 
    margin:120px ; 
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#0099ff;
    color:#fff;
    text-decoration:none;
    padding:15px 30px;
    display:block;
}

.nav li a:hover {
    background-color:#0066cc;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}
.logo{
    height:200px;
    width:300px;
    cursor:pointer;
    left: 50%;
}
/*Titulo "Ingresa a tu cuenta" centrado*/
h1{
    text-align: center;
}
/*Titulo "Ingresar" centrado*/
h3{
    text-align: center;
}
/*Centrar Texto del encabezado y color gris*/
.contenedorEncabezado p{
    text-align: center;
    color: gray;
}
.contenedorPrincipal {
/*   font-size: 20px;
    font-weight: 500;*/
    margin: 0px 200px 0px;
}
/*Cuadrito del form*/
form{
    width: 35rem;
    margin: auto;
    color: whitesmoke;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(11, 15, 13, 0.582);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px 25px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
}
/*Cuadros para ingresar datos*/
.input{
    width: 5000%;
    
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
}
/*Boton de Ingresar*/
button {
    background-color: #030804;
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
}
/*Hover para el boton*/
button:hover {
    opacity: 0.6;
    cursor: pointer;
}
/*Centrar texto para el contenedor del encabezado*/
.contenedorEncabezado{
    text-align: center;
}
/*Centrar texto para el contenedor principal*/
.contenedorPrincipal{
    padding: 16px;
}
/*Color para el link de Registrar*/
a{
    color: aliceblue;
    text-decoration-line: none;
}
.pie-pagina{
    width: 100%;
    background-color:#003366;
    }
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box h1{
    color: #fff;
    margin-bottom:25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box a{
   
    color:#fff;
    text-decoration:none;
    padding:15px 30px;
    display:block;
}

