<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tienda de Computadoras</title>
         <link th:href="@{/css/home.css}" rel="stylesheet" />
        <meta charset="utf-8">
    </head>
    <body>
        <!-- navbar -->
        <div class="container">
            <div class="navbar">
                <!-- este dive tiene nuestro NAVBAR/barra de navegacion -->

                <!-- logo -->
                <img class="logo"src="images/logo.png" alt="logo de una la pagina"/>
                <ul class="nav">
                    <!-- opciones del menu -->

                    <li><a href="home.html">Home</a></li>
                    <li><a href="listaDeseos.html">Lista de deseos</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a th:href="@{/registrarse}">Registrarse</a></li>
                    
                    <li><a href="configadmin.html">Administrador</a></li>

            </div>
        </div>
        
        <div class="content">
            <!-- linea divisoria de 8px -->
            <hr size="8px" color="black" />
            <!-- imagenen de contenido >-->
            <img class="contenidohome"src="images/contenidohome2.jpg" alt="imagen de contenido"
            <!-- mensaje informativo -->
            <h1>Arma tu pc con nosotros...</h1>
            <hr size="5px" color="black" />

            <!-- producto 1 -->
            
            <table>
        <thead>
            <img class="monitor"src="images/monitor.jpg" alt="imagen de un monitor"/>
             <tr th:each="producto : ${productos}">
                <td> <a th:href="@{/productos}" th:text="${producto.nombre}"></a></td>
                
            </tr>
        </thead>
        <tbody>
            <tr th:each="producto : ${productos}">
                <td th:text="${producto.precio}"></td>
            </tr>
            
        </tbody>
    </table>
            <a href="listaDeseos.html" class="boton1">Anadir a lista de deseos</a><br>
           

            
            
            
         

    <!-- footer o pie de pagina -->
    <footer class="pie-pagina">

        <!-- columna 1 -->
        <div class="grupo-1">
            <div class="box">
                <h1>Sobre nosotros</h1>
                <p>En Tienda Computadoras nos proyectamos a ser la mejor empresa de Costa Rica en servicios de computación, asi como de equipos y accesorios.</p>
            </div>

            <div class="box">
                <h1><a href="faq.html">Preguntas Frecuentes</a></h1>
            </div> 

            <div class="box">
                <h1><a href="contact.html">Contactenos</a></h1>

            </div> 
            <div class="box">
                <h1>Siguenos</h1>
                <p>TiendaComputadoras.facebook</p>

            </div> 

        </div>

        <footer/>
</body>

</html>