
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registro</title>
        
        <link th:href="@{/css/registro.css}" rel="stylesheet" />
        <meta charset="utf-8">
    </head>
    <body>
        <!-- NavBar -->
        <div class="container">
            <!-- div contenedor de nuestro NavBar -->
            <div class="navbar">
                <!-- Logo -->
                <img class="logo"src="images/logo.png" alt="logo de una la pagina"/>
                <ul class="nav">
                    <!-- Opciones del NavBar-->
                    <li><a href="home.html">Home</a></li>
                    <li><a href="listaDeseos.html">Lista de deseos</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="registro.html">Register</a></li>
                    <li><a href="configadmin.html">Administrador</a></li>
            </div>
        </div>
    </div>
    
    <h1>Registra una cuenta</h1>
    <form  th:object = "${registro}"
                          th:action = "@{/save}"
                          method="POST">
        
        <!-- div que contiene el encabezado para el Form de Registro -->
        <div class="contenedorEncabezado">
            <h3>Registro</h3>
            <p>Registra tu correo y contrasena</p>
        </div>
        <br>
        <!-- div con el contenedor principal para todos los inputs -->
        <div class="contenedorPrincipal">
            <label for="nombre">Nombre</label><br><br>
            <!-- Etiqueta "required" para que sea obligatorio llenar el espacio -->
            <input type="text" th:field="*{nombre}" placeholder="Nombre" id="nombre">
            <br><br>
            
            <label for="apellido1">Primer Apellido</label><br><br>
            <!-- Etiqueta "required" para que sea obligatorio llenar el espacio -->
            <input type="text" th:field="*{apellido1}" placeholder="Primer Apellido" id="apellido1" >
            <br><br>
            
             <label for="apellido2">Segundo Apellido</label><br><br>
            <!-- Etiqueta "required" para que sea obligatorio llenar el espacio -->
            <input type="text" th:field="*{apellido2}" placeholder="Segundo Apellido" id="apellido2" >
            <br><br>
            
            <!-- Correo -->
            <label for="correo">Tu correo</label><br><br>
            <!-- Etiqueta "required" para que sea obligatorio llenar el espacio -->
            <input type="text" th:field="*{correo}" placeholder="Correo" id="correo" >
            <br><br>
            
            <!-- Contrasena -->
            <label for="contra">Tu contrasena</label><br><br>
            <!-- Etiqueta "required" para que sea obligatorio llenar el espacio -->
             <input type="text" th:field="*{contrasena}" placeholder="Contrasena" id="contrasena">
            <br><br>
           
            <!-- Boton de Ingresar -->
            <button type="submit">Registrar</button>
            <br><br>
            <!-- Boton de Registrarse -->
            <p class="registro">Ya tienes cuenta? <a href="login.html">Ingresa aqui!</a></p>
        </div>
    </form>
    <br><br>
    <!-- Pie de pagina -->
    <footer class="pie-pagina">
        <!-- Columna 1 -->
    <div class="grupo-1">
        <div class="box">
            <h1>Sobre nosotros</h1>
            <p>En Tienda Computadoras nos proyectamos a ser la mejor empresa de Costa Rica en servicios de computación, asi como de equipos y accesorios.</p>
        </div>
        <div class="box">
            <h1><a href="faq.html">Preguntas Frecuentes</a></h1>
        </div> 
        <div class="box">
            <h1><a href="contact.html">Contactenos</a></h1>
        </div> 
        <div class="box">
            <h1>Siguenos</h1>
            <p>TiendaComputadoras.facebook</p>
        </div> 
    </div>
    </footer>
</body>
</html>
